#preview {
	background: #2a2b2b;
}
#preview canvas {
	width: 100%;
	display: block;
}

#preview .controls{
	display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

#preview #position {
	margin: 0;
  flex: 1;
}
